$content-width: 1000px;
$breakpoint: 800px;
$nav-height: 50px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;

#nav-accent {
  // From: https://www.cssmatic.com/gradient-generator#'\-moz\-linear\-gradient\%28left\%2C\%20rgba\%2837\%2C129\%2C220\%2C1\%29\%200\%25\%2C\%20rgba\%2882\%2C160\%2C233\%2C1\%29\%2028\%25\%2C\%20rgba\%28122\%2C188\%2C245\%2C1\%29\%2053\%25\%2C\%20rgba\%2874\%2C118\%2C147\%2C1\%29\%2080\%25\%2C\%20rgba\%2838\%2C67\%2C74\%2C1\%29\%20100\%25\%29\%3B'
  background: rgba(37,129,220,1);
  background: -moz-linear-gradient(left, rgba(37,129,220,1) 0%, rgba(82,160,233,1) 28%, rgba(122,188,245,1) 53%, rgba(74,118,147,1) 80%, rgba(38,67,74,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(37,129,220,1)), color-stop(28%, rgba(82,160,233,1)), color-stop(53%, rgba(122,188,245,1)), color-stop(80%, rgba(74,118,147,1)), color-stop(100%, rgba(38,67,74,1)));
  background: -webkit-linear-gradient(left, rgba(37,129,220,1) 0%, rgba(82,160,233,1) 28%, rgba(122,188,245,1) 53%, rgba(74,118,147,1) 80%, rgba(38,67,74,1) 100%);
  background: -o-linear-gradient(left, rgba(37,129,220,1) 0%, rgba(82,160,233,1) 28%, rgba(122,188,245,1) 53%, rgba(74,118,147,1) 80%, rgba(38,67,74,1) 100%);
  background: -ms-linear-gradient(left, rgba(37,129,220,1) 0%, rgba(82,160,233,1) 28%, rgba(122,188,245,1) 53%, rgba(74,118,147,1) 80%, rgba(38,67,74,1) 100%);
  background: linear-gradient(to right, rgba(37,129,220,1) 0%, rgba(82,160,233,1) 28%, rgba(122,188,245,1) 53%, rgba(74,118,147,1) 80%, rgba(38,67,74,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2581dc', endColorstr='#26434a', GradientType=1 );
  height: 10px;
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    .current a {
      background: $link-hover-color;
      color: $nav-font-color;
      border-radius: 10px;
      margin: 5px;
    }
    li {
      float: left;
      position: relative;
      a {
        display: inline-block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        margin: 5px;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
          border-radius: 10px;
          margin: 5px;
        }
        &:not(:only-child):after {
        padding-left: 4px;
        content: ' ▾';
        } 
      }
      ul {
        position: relative;
        left: -9999px;
      }
      &:hover ul{
        left: 0px;
      }
      ul li {
        & a {
          padding: 15px;
          line-height: 20px;
          margin: 5px;
          z-index: 1;
        }
      }
    }
  }
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

@media only screen and (max-width: $breakpoint) {
  .nav-mobile {
    display: block;
  }
   nav {
    width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
         a {
          padding: 15px;
          line-height: 20px;
          margin: 5px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  
 .nav-dropdown {
   position: static;
  }
}

@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}

.navigation {
  height: $nav-height + 10;
  background: $nav-background;
}

.nav-container {
  margin: 0 auto;
}